body {

}

a {
  text-decoration: none;
}

#simbad-objects {
  display: none;
}

#maps {
  display: inline-block;
  float: left;
  width: 800px;
  padding: 0 10px 0 0;
}

#info {
  float: left;
  display: inline-block;
  width: 400px;
}

h1, h2, h3 {
  margin: 10px 0 5px 0;
}

#search-buttons {
    display: inline-block;
    margin: 0 0 10px 0;
}


#search-buttons button {
    display: inline-block;
}

#randomButton {
  background: #43be8b;
}

#randomButton:hover {
  background: #48E29E;
}


div.preview-holder {
  display: inline-block;
  margin: 0 15px 10px 0;
  position: relative;
}

.preview-link {
  position: absolute;
  top: 50%;
  margin: -16px 0 0 0px;
  right: -16px;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  border: 2px solid white;
  text-decoration: none;
  line-height: 30px;
  text-align: center;
  font-size: 18px;
  background-color: #3c8999;
  color: #ffffff;
  -webkit-transition:background .2s;-moz-transition:background .2s;-o-transition:background .2s;-ms-transition:background .2s;transition:background .2s;
}

.preview-link:hover{
  background-color: #4BBAC5;
}

/* TABLE STYLES */
table.scan-results {
  width: 960px;
}

table.scan-results td{
  padding: 5px 5px;
}

tr.table-header {
  background-color: #3c8999;
  color: #fff;
}

tr.odd {
  background-color: #ffffff;
}

tr.even {
  background-color: #cccccc;
}

#footer {
  clear: both;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  color: #444;
  margin: 20px auto 10px;
}
