<h4>Some Examples</h4>
<div id="preview-gallery">
  <% Subject.where(:state => "complete").where(:cached_annotations => nil).sort(:classification_count.desc).limit(24).each do |s| %>
    <div id="preview-<%= s.zooniverse_id %>" class="preview-holder"></div>
    <script type="text/javascript">
      $.ajax({
        url: "/subjects/preview/<%= s.zooniverse_id %>",
        cache: false,
        success: function(html){
          $("#preview-<%= s.zooniverse_id %>").append(html);
        }
      });
    </script>
  <% end %>
</div>
