<h1>Milk Man</h1>
<h3>Data delivery for the Milky Way Project.</h3>

<input type="textbox" id="searchID" value="e.g. AMW0002t48" onfocus="$('#searchID').val('');" onblur="$('#searchID').filter(function() { return $(this).val() == ''; }).val('e.g. AMW0002t48');" />
<button id="searchButton" type="submit">Search</button>

<h4>Some Examples</h4>
<ul>
  <li><a href="/subjects/AMW0002t48">Huge EGO, nice bubble (AMW0002t48)</a></li>
</ul>

<script type="text/javascript">

  function goToSearch(){
    window.location = ('/subjects/'+$('#searchID').val());
  }

  $('#searchButton').click(function() {
    goToSearch();
  });

  $('#searchID').bind("enterKey",function(e){
    goToSearch();
  });

  $('#searchID').keyup(function(e){
      if(e.keyCode == 13)
      {
          $(this).trigger("enterKey");
      }
  });
</script>
