<h4>Some Examples</h4>
<ul>
  <% Subject.where(:state => "complete").where(:cached_annotations => nil).sort(:classification_count.desc).limit(250).each do |i| %>
    puts "#{i.zooniverse_id}, #{i.classification_count} #{i.annotations.size}"
  <% end %>
  <li><a href="/subjects/AMW0002t48">Huge EGO, nice bubble (AMW0002t48)</a></li>
</ul>
